
.message {
    font-size: 2rem;
    background-color: rgba(255, 255, 0, 0.34);
    text-align: center;
    border-radius: 10px;

}

.server-error-message {
    color: red;
}

.post-loading-notification {
    color: blue;
}
.id-error-message {
    color: orange;

}