.post-page {
    background-image: url("../assets/background1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    max-height: fit-content;
    max-width: 100vw;
}

.message {
    font-size: 2rem;
    background-color: rgba(255, 255, 0, 0.34);
    text-align: center;
    border-radius: 10px;

}

.server-error-message {
    color: red;
}

.post-loading-notification {
    color: blue;
}

.id-error-message {
    color: orange;

}