html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}



.home-posts {
    background-image: url("../../assets/background2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    max-height: fit-content;
    max-width: 100vw;

}

.posts-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    gap: .2em;
    row-gap: 1em;
    /* margin: 2em auto; */
    max-width: 100vw;
    place-items: center;
    margin: 0;
    border: 1px solid green;

}