.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    border: 1px solid red;
    z-index: 1000;
    background-color: rgb(194 218 241);
    border-radius: 8px;
}

.contente {
    margin-top: 140px;
}

.create-new-post {
    background-color: rgb(194 218 241);
    border: none;
    cursor: pointer;

}

.create-new-post img {
    width: 7rem;
    background-color: rgb(194 218 241);

}