.img-logo {
    width: 7rem;
    height: 7rem;
    border-radius: 20%;
    cursor: pointer;
}

@media (max-width: 900px) {
.img-logo {
    width: 5rem;
    height: 5rem;
}
}
@media (max-width: 600px) {
.img-logo {
    width: 3rem;
    height: 3rem;
}
}

@media (max-width: 300px) {
 .img-logo {
    width: 2rem;
    height: 2rem;
}
}